
	<!-- ========== CONTACT SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>CONTACT US</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<div class="col-md-6 col-md-offset-3">
					<p>Bishkek, <br/>Kyrgyzstan(ex USSR country)<br/>+996556606737</p>
					<p>info@4byte.solutions</p>
				</div>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="javascripts/jquery.easyaudioeffects.1.0.0.min.js"></script>
	  <script src="javascripts/classie.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/smoothscroll.js"></script>
	  <script src="javascripts/main.js"></script>
		<script>
        $(".hovereffect").easyAudioEffects({
					ogg : "audio/cat.ogg",
					mp3 : "audio/cat.mp3",
					eventType : "hover" // or "click"
				});
     </script>
</body>
</html>
