<% include header%>	
	
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<!--<div class="logo">
				<img src="assets/img/logo.png">
			</div>-->
			<br>
			<div class="row">
				<br><br><br>
				<h1>4 BYTE SOLUTIONS</h1>
				<br>
				<h3>THE OUTSOURCING COMPANY</h3>
				<br>
				<br>
				<div class="col-md-6 col-md-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	
	<!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<!-- INTRO INFORMATIO-->
				<div class="col-md-6 col-md-offset-3">
					<p>We are outsourcing company with short simple and elegant solutions. We love designing beautiful, clean and user-friendly interfaces.</p>
					<p>Our passion is turning good ideas and products into systems build with catting enge technologies using best case solutions.</p>
					<p>Our team is available for freelance jobs. Contact us now.</p>
					<p><button type="button" class="btn btn-warning">I HAVE A FREELANCE JOB</button></p>
				</div>								
			</div>
		</div><!-- /container -->
	</div><!-- /f -->

	<% include footer %>